<a href="https://colab.research.google.com/github/yosephabate/winc_datascience/blob/main/winc_pandas_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np

# Ingesting Data from CSV file to DataFrame

In [13]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_birth_rate')
countries = tables[0]
countries

                 Country/territory WB 2018  ... CIA WF 2020 PRB 2020
                 Country/territory  Rate ‰  ...      Rate ‰   Rate ‰
0                      Afghanistan    32.0  ...        36.7     33.0
1                          Albania    12.0  ...        13.0     10.0
2                          Algeria    24.0  ...        20.0     24.0
3                          Andorra     7.0  ...         7.0      7.0
4                           Angola    41.0  ...        42.7     44.0
..                             ...     ...  ...         ...      ...
233  Turks and Caicos Islands (UK)     NaN  ...        14.1      NaN
234            U.S. Virgin Islands    13.0  ...        12.1      NaN
235     Wallis and Futuna (France)     NaN  ...        12.7      NaN
236           Palestine/Gaza Strip     NaN  ...        28.6      NaN
237                          World    19.0  ...         NaN      NaN

[238 rows x 7 columns]

# Renaming Columns

In [14]:
countries.columns

MultiIndex([('Country/territory', 'Country/territory'),
            (          'WB 2018',            'Rate ‰'),
            (        'OECD 2011',            'Rate ‰'),
            (      'CIA WF 2013',            'Rate ‰'),
            (      'CIA WF 2014',            'Rate ‰'),
            (      'CIA WF 2020',            'Rate ‰'),
            (         'PRB 2020',            'Rate ‰')],
           )

In [15]:
countries.columns = ['country', 'wb2018', 'oecd2011', 'ciawf2013', 'ciawf2014', 'ciawf2020', 'prb2020']

In [16]:
countries.columns

Index(['country', 'wb2018', 'oecd2011', 'ciawf2013', 'ciawf2014', 'ciawf2020',
       'prb2020'],
      dtype='object')

In [17]:
countries.head()

       country  wb2018  oecd2011  ciawf2013  ciawf2014  ciawf2020  prb2020
0  Afghanistan    32.0      45.1      39.05      38.84       36.7     33.0
1      Albania    12.0      11.5      12.57      12.73       13.0     10.0
2      Algeria    24.0      24.8      24.25      23.99       20.0     24.0
3      Andorra     7.0      10.2       8.88       8.48        7.0      7.0
4       Angola    41.0      40.9      39.16      38.97       42.7     44.0

# Observation of Data

In [18]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    238 non-null    object
 1   wb2018     206 non-null    float64
 2   oecd2011   233 non-null    float64
 3   ciawf2013  225 non-null    float64
 4   ciawf2014  225 non-null    float64
 5   ciawf2020  229 non-null    float64
 6   prb2020    200 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.1+ KB

In [19]:
countries.describe()

           wb2018    oecd2011   ciawf2013   ciawf2014   ciawf2020     prb2020
count  206.000000  233.000000  225.000000  225.000000  229.000000  200.000000
mean    19.790291   20.509785   19.850889   19.653822   18.451965   19.950000
std      9.809100   10.150722    9.797196    9.647888    9.322057   10.153965
min      6.000000    8.100000    6.790000    6.720000    6.400000    6.000000
25%     11.000000   11.900000   11.720000   11.780000   11.400000   11.000000
50%     18.000000   17.500000   17.170000   16.900000   15.400000   18.000000
75%     27.000000   27.500000   25.400000   24.890000   23.100000   27.000000
max     46.000000   46.000000   46.840000   46.120000   47.500000   48.000000

In [20]:
countries.shape

(238, 7)

# Selection of Data

In [36]:
# select all countries
# countries.loc[rows, columns]
all_countries = countries.loc[:, :]
all_countries

                           country  wb2018  ...  ciawf2020  prb2020
0                      Afghanistan    32.0  ...       36.7     33.0
1                          Albania    12.0  ...       13.0     10.0
2                          Algeria    24.0  ...       20.0     24.0
3                          Andorra     7.0  ...        7.0      7.0
4                           Angola    41.0  ...       42.7     44.0
..                             ...     ...  ...        ...      ...
233  Turks and Caicos Islands (UK)     NaN  ...       14.1      NaN
234            U.S. Virgin Islands    13.0  ...       12.1      NaN
235     Wallis and Futuna (France)     NaN  ...       12.7      NaN
236           Palestine/Gaza Strip     NaN  ...       28.6      NaN
237                          World    19.0  ...        NaN      NaN

[238 rows x 7 columns]

In [35]:
# select "dependent territories"
# The list of "dependendent territories" starts with Anguilla.
dependent_countries_condition = countries.country.str.contains('Anguilla')
dependent_countries = countries.loc[dependent_countries_condition, :]
dependent_countries

           country  wb2018  oecd2011  ciawf2013  ciawf2014  ciawf2020  prb2020
196  Anguilla (UK)     NaN      11.1      12.82      12.68       12.2      NaN

In [38]:
# Select all countries, but not the dependendent territories. Include all columns.
non_dependent_countries = countries.loc[~dependent_countries_condition, :]
non_dependent_countries

                           country  wb2018  ...  ciawf2020  prb2020
0                      Afghanistan    32.0  ...       36.7     33.0
1                          Albania    12.0  ...       13.0     10.0
2                          Algeria    24.0  ...       20.0     24.0
3                          Andorra     7.0  ...        7.0      7.0
4                           Angola    41.0  ...       42.7     44.0
..                             ...     ...  ...        ...      ...
233  Turks and Caicos Islands (UK)     NaN  ...       14.1      NaN
234            U.S. Virgin Islands    13.0  ...       12.1      NaN
235     Wallis and Futuna (France)     NaN  ...       12.7      NaN
236           Palestine/Gaza Strip     NaN  ...       28.6      NaN
237                          World    19.0  ...        NaN      NaN

[237 rows x 7 columns]

In [41]:
# Select the countries that have a birthrate higher than 40 according to the Population Reference Bureau. 
# Select only the columns with the country name and the PRB birth rate.
prb_rate_more_than_40_condition = countries.prb2020 > 40
prb_rate_more_than_40 = countries.loc[prb_rate_more_than_40_condition, ['country', 'prb2020']]
prb_rate_more_than_40

      country  prb2020
4      Angola     44.0
18      Benin     42.0
33       Chad     43.0
38   DR Congo     44.0
107      Mali     46.0
127     Niger     48.0
160   Somalia     42.0

In [46]:
# Select the countries that have "stan" in their name and a birthrate that's lower than 25 according to the CIA in 2020. 
# Select only the columns for country and CIA 2020 birth rate.
country_name_with_stan = countries.country.str.contains('stan')
cia2020_rate_less_than_25 = countries.ciawf2020 < 25
stan_countries_birth_rate_less_than_25 = countries.loc[(country_name_with_stan & cia2020_rate_less_than_25), ['country', 'ciawf2020']]
stan_countries_birth_rate_less_than_25

                                               country  ciawf2020
86                                          Kazakhstan       16.4
92                                          Kyrgyzstan       20.6
171                                         Tajikistan       21.8
180                                       Turkmenistan       18.3
188                                         Uzbekistan       16.1
227  Saint Helena, Ascension and Tristan da Cunha (UK)        9.4

In [49]:
# Select the countries where the birthrate dropped more than 7 percent points between 2013 and 2020 according to the CIA. 
# Select the columns for country, CIA 2013 and 2020 birth rate.
def dropped_7_percent(country):
  percent_dropped = country.ciawf2013 - country.ciawf2020
  return percent_dropped > 7

countries_birth_rate_dropped_more_than_7_percent = countries.loc[lambda country: dropped_7_percent(country), ['country', 'ciawf2013', 'ciawf2020']]
countries_birth_rate_dropped_more_than_7_percent

          country  ciawf2013  ciawf2020
26   Burkina Faso      42.81       35.1
61          Gabon      34.82       26.3
144        Rwanda      35.49       27.9

In [54]:
def drop_percent(country):
  percent_dropped = country.ciawf2013 - country.ciawf2020
  return percent_dropped

countries_birth_rate_dropped_more_than_7_percent['dropped'] = countries_birth_rate_dropped_more_than_7_percent.ciawf2013 - countries_birth_rate_dropped_more_than_7_percent.ciawf2020
countries_birth_rate_dropped_more_than_7_percent

          country  ciawf2013  ciawf2020  dropped
26   Burkina Faso      42.81       35.1     7.71
61          Gabon      34.82       26.3     8.52
144        Rwanda      35.49       27.9     7.59